@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");

:root {
  --dark-color: #1e1f21;
  --brand-color: #212122;
  --popup-font-color: #e7e6e6;
  --pigination-activ-color: #3e3e3e;
  --nex-prev-color: #a0a4a1;
  --popup-background-color: rgba(0, 0, 0, 0.8);
  --popup-content-color: black;
  --font-color: #4f4e50;
  --grey-color: rgb(137, 137, 137);
  --service-background: rgb(238, 238, 238);
  --link: #3869cc;
}

body {
  color: var(--font-color);
  font-family: "Montserrat", sans-serif;
  color: var(--font-color);
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

.main-section {
  background-image: url(../assets/background-24-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.header-section {
  display: flex;
  justify-content: space-between;
  padding: 2vh 5%;
}
.logo {
  font-weight: 600;
  text-decoration: none;
  padding: 0 1rem;
  color: var(--font-color);
  text-transform: uppercase;
}
.part-logo {
  color: var(--link);
}
.nav-item {
  text-decoration: none;
  padding: 0 1rem;
  color: var(--font-color);
  text-transform: uppercase;
}

/* .nav-button {
  padding: 0.5rem;
  color: var(--popup-font-color);
  background-color: var(--grey-color);
} */

.inscription-section {
  padding: 12vh 2vw 3vh 2vw;
  text-align: center;
}

.main-inscription {
  font-size: 3rem;
  line-height: 1.5;
  word-spacing: 1.2rem;
  text-transform: uppercase;
}

.inscription {
  padding-top: 5vh;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--grey-color);
}

/* Designing section */
.designing-section {
  color: var(--popup-font-color);
  background-color: var(--dark-color);
  min-height: 100vh;
}

.designing-article {
  display: flex;
  justify-content: center;
  align-items: center;
}

.designing-inscription {
  padding: 5vh 2vw;
}

.h4-designing {
  font-size: 2.5rem;
  text-transform: uppercase;
  padding-bottom: 3vh;
}

.h5-designing {
  font-weight: 600;
  padding: 0.8rem 0.5rem 0.3rem 0.5rem;
}

.designing-img {
  max-height: 50vh;
  max-width: 45%;
  padding: 5vh 3vw 5vh 0;
}

/* Construction section */
.section-construction {
  min-height: 100vh;
}

.h6-slider-construction {
  color: var(--font-color);
}
.img-media-mini {
  display: none;
}
.construction-img {
  max-height: 50vh;
  max-width: 50%;
  padding: 5vh 0 3vw 5vh;
}

/* Styles for video sliders */
.h6-slider {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0 5vw;
}

.slider-container {
  display: flex;
  overflow-x: auto;
  padding: 2vh 1%;
  align-items: center;
  position: relative;
}

.slider {
  display: flex;
  margin: 0;
  padding: 0;
  /* overflow-x: scroll; */
  overflow-x: hidden;
  transition: transform 0.3s ease;
}

.slide {
  margin: 0;
  padding: 0;
}

.pop-up {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--popup-background-color);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
  z-index: 2;
}

.pop-up.open {
  opacity: 1;
  visibility: visible;
}

.pop-up.open,
.popup-content {
  transform: translate(0px, 0px);
  opacity: 1;
}

.popup-body {
  /* min-height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3vh 3vw;
  z-index: 3;
}

.popup-content {
  background-color: var(--popup-content-color);
  color: var(--popup-font-color);
  max-width: 74vw;
  height: auto;
  padding: 3vh;
  position: relative;
  z-index: 2;
  /* overflow-y: auto; */
}

.popup-close {
  color: var(--popup-font-color);
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 2rem;
  text-decoration: none;
}

.popup-video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iframe {
  width: 72vw;
  height: 64vh;
  margin: 3%;
}

.prev,
.next {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  font-size: 6vw;
  cursor: pointer;
  color: var(--popup-font-color);
  z-index: 1;
  transition: transform 0.3s ease, top 0.3s ease, color 0.3s ease;
}

.prev:hover,
.next:hover {
  transform: scale(1.1) translateY(-50%);
  top: 57%;
  color: var(--nex-prev-color);
}

.prev {
  left: 2vw;
}

.next {
  right: 2vw;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.dot {
  width: 0.5rem;
  height: 0.5rem;
  margin: 0.4rem;
  background-color: var(--popup-font-color);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: var(--pigination-activ-color);
}

/* Our services */
.our-services {
  border-top: 2px outset var(--grey-color);
  margin: 3vh 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h4-services {
  text-align: center;
  margin-top: 3vh;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.h5-services {
  text-align: center;
  font-weight: 600;
  padding: 0.8rem 0.5rem 0.3rem 0.5rem;
}

.p-services {
  text-align: center;
  max-width: 72vw;
  padding: 0 0.5vw 0.5vh 0.5vw;
}

.br-container {
  display: block;
  margin: 0.7rem;
}

.row-services {
  display: flex;
  justify-content: center;
}

.service-article {
  max-width: 17vw;
  background-color: var(--service-background);
  margin: 1.2vw 1vw;
  height: auto;
  font-size: 0.9rem;
}

.service-img {
  max-width: 100%;
  max-height: 100%;
}

.service-inscription {
  font-weight: 600;
  padding: 0.7rem;
}

.expand-link {
  display: block;
  color: var(--link);
  cursor: pointer;
  margin: 0.7rem;
}

/* my modal*/
#myModal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--popup-background-color);
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.modal-box {
  max-width: 25vw;
  overflow-y: auto;
  text-align: start;
  background-color: var(--service-background);
}

.container-close {
  text-align: center;
  padding: 1rem 0;
}

.modal-close {
  cursor: pointer;
  padding: 0.5rem;
  color: var(--popup-font-color);
  background-color: var(--grey-color);
}

.modal-inscription {
  font-weight: 600;
  padding: 1rem 1rem 0.5rem 1rem;
}

.p-modal {
  padding: 0 1rem 0.5rem 1rem;
}

.contacts-section {
  margin: 3%;
  display: flex;
  justify-content: space-evenly;
  color: #6f7d8e;
}

.contacts-article,
.clients-article {
  min-width: 30%;
}

.h4-contacts {
  margin: 3vh 0;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.span-contact {
  display: flex;
}

.contacts-developer {
  margin: 3vh 2vw;
  font-size: 0.9rem;
}

.div-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon {
  width: 5rem;
  height: 5rem;
  margin-right: 4%;
}

.clients-article {
  margin: 3vh 0;
  display: flex;
  flex-direction: column;
}

.client-name {
  display: inline-block;
  padding-bottom: 2rem;
  margin: 3vh 0;
  border-bottom: 1px outset var(--grey-color);
  width: 8vw;
}

.client-input {
  border: none;
  border-bottom: 1px outset var(--grey-color);
  height: 2rem;
}

.client-input:focus {
  outline: none;
  box-shadow: 0 0 5px var(--grey-color);
}

.mail-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.label-input {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  width: 48%;
}
.client-contact {
  display: flex;
  flex-direction: row;
  margin-top: 8%;
}

.span-button {
  text-align: center;
}

.client-button {
  margin-top: 10%;
  padding: 0.6rem;
  width: 100%;
  color: var(--popup-font-color);
  border: none;
  background-color: var(--grey-color);
  font-size: 1rem;
}

.client-button:hover {
  cursor: pointer;
  box-shadow: 0 0 5px var(--grey-color);
}

@media screen and (max-width: 1280px) {
  body {
    font-size: 0.7rem;
  }
  .header-section,
  .client-button {
    font-size: 0.9rem;
  }
  .main-inscription {
    font-size: 1.8rem;
  }
  .inscription,
  .h6-slider {
    font-size: 1.2rem;
  }
  .service-article {
    max-width: 21vw;
  }
  .h5-services,
  .p-services {
    font-size: 0.8rem;
  }
  .service-inscription,
  .br-container,
  .expand-link,
  .contacts-developer {
    font-size: 0.7rem;
  }
  .h4-services,
  .h4-designing,
  .h4-contacts {
    font-size: 1.6rem;
  }
  .modal-box {
    max-width: 35vw;
  }
}

@media screen and (max-width: 1024px) {
  .main-section {
    background-position: center;
    text-align: center;
    align-items: center;
  }
  .p-services {
    max-width: 84vw;
  }
  .modal-box {
    max-width: 45vw;
  }
}

@media screen and (max-width: 914px) {
  body {
    font-size: 0.9rem;
  }
  .designing-article {
    flex-direction: column;
  }
  .designing-inscription {
    padding: 4vh 3vw;
  }
  .service-article {
    max-width: 30vw;
  }

  .designing-img {
    max-height: 120vh;
    max-width: 85%;
    padding: 4vh 3vw;
  }
  .construction-img {
    display: none;
  }
  .prev {
    left: 5vw;
  }

  .next {
    right: 5vw;
  }
  .img-media-mini {
    display: block;
    max-height: 120vh;
    max-width: 85%;
    padding: 4vh 3vw;
  }
  .modal-box {
    max-width: 65vw;
  }
  .popup-content {
    max-width: 84vw;
    max-height: 84vh;
    padding: 2vh;
  }
  .prev,
  .next {
    font-size: 10vw;
  }
}

@media screen and (max-width: 768px) {
  .header-section {
    padding: 2vh 3%;
  }
  .nav-item,
  .logo {
    padding: 0 0.4rem;
  }
  .main-inscription {
    font-size: 1.6rem;
    line-height: 1.4;
    word-spacing: 0.6rem;
  }
  .slider-container {
    padding: 2vh 3%;
  }
  .h6-slider {
    font-size: 1rem;
  }
  .service-article {
    max-width: 45vw;
  }
  .modal-box {
    max-width: 75vw;
  }
  .popup-content {
    max-width: 90vw;
    max-height: 90vh;
    padding: 2vh;
  }
  .contacts-section {
    padding: 5%;
    flex-direction: column;
    vertical-align: middle;
  }
}

@media screen and (max-width: 480px), (max-height: 480px) {
  .inscription-section {
    padding: 7vh 4vw 3vh;
  }
  .main-inscription {
    font-size: 1.4rem;
  }
  .inscription {
    font-size: 1rem;
    padding-top: 4vh;
  }
  .h4-designing,
  .h4-contacts {
    font-size: 1.4rem;
  }
  .designing-inscription {
    padding: 3vh 5vw;
  }
  /* .slider-container {
    padding: 2vh 4%;
  } */
  .service-article {
    max-width: 88vw;
  }
  .popup-content {
    max-width: 90vw;
    /* max-height: 100vw; */
    padding: 1vh;
  }
  .modal-box {
    max-width: 87vw;
  }
}

@media screen and (max-width: 480px) {
  .slider-container {
    padding: 2vh 4%;
  }
  .prev,
  .next {
    font-size: 20vw;
  }
}
